@font-face { font-family:font-toys; src: url('../../assets/font/broken-toys') format('truetype'); }
@font-face { font-family:font-menu; src: url('../../assets/font/font-menu-2.ttf') format('truetype'); }
@font-face { font-family:font-messages; src: url('../../assets/font/font-messages.ttf') format('truetype'); }


#scoreboard {
    opacity: 0.8;
    background: url('../../assets/images/bg-scoreboard.png') no-repeat;
    height: 20px;
    border-radius: 20px;
    margin-top:3px;
    position: relative;
    z-index:2;
}

#scoreboard div {
    font-family: 'Faster One', cursive;
    background: none;
    color: white;
    font-weight: 400;
    float: left;
    width: 24%;
    text-align: center;
}

