@font-face { font-family: font-menu; src: url('../../assets/fonts/font-menu.ttf') format('truetype'); }

#scoreboard {
    opacity: 0.8;
    background: url('../../assets/bg-scoreboard.png') no-repeat;
    height: 20px;
    border-radius: 20px;
    margin-top:3px;
    position: relative;
    z-index:2;
}

#scoreboard div {
    font-family: 'Faster One', cursive;
    background: none;
    color: white;
    font-weight: 400;
    float: left;
    width: 24%;
    text-align: center;
}

